/* 
    Orden que estoy siguiendo para las propiedades:
        1. Propiedades de posicionamiento
        2. Propiedades del box model
        3. Propiedades de texto
        4. Propiedades "visuales" (colores, bordes, background, etc)
        5. Otras
*/

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azulSubmarino: #0c4eb9;
  --azulAqua: #00a6e7;
  --azulNeutro: #4176c5d3;
  --blanco: #fff;
  --encima: #eee;
  --sombra: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--blanco);
  background-color: var(--azulNeutro);
}

main {
  flex: 1;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 40px;
}

a {
  font-weight: 600;
  color: var(--azulSubmarino);
  text-decoration: none;
}

a:hover {
  color: var(--azulAqua);
}

address {
  font-style: normal;
}

/* clase para los textos con color invertido */
.alternativo {
  color: var(--azulSubmarino);
}

/* coloca negrita a elementos que requieran enfasis */
.enfasis {
  font-weight: 600;
}

.cabecera {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  background-color: var(--blanco);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-imagen {
  width: 95px;
  padding: 5px;
}

.logo-texto {
  width: 270px;
  margin-left: 5px;
}

.barra-navegacion ul {
  list-style: none;
}

.barra-navegacion li {
  display: inline-block;
}

.barra-navegacion a {
  padding: 25px;
  border-bottom: 2px solid rgba(0, 131, 166, 0);
  transition: 0.3s;
}

.barra-navegacion a:hover {
  border-bottom: 2px solid var(--azulAqua);
  background-color: var(--encima);
}

/* clase para los titulos de las secciones*/
.pagina-titulo {
  margin: 10px 0;
  font-size: 2.4rem;
}

/* breve decripcion presente en algunas paginas despues del titulo */
.pagina-descripcion {
  margin: 20px 0;
}

/* clases de containers que pueden ser útiles en diferentes páginas */
.containerList {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

/* INICIO */
#inicio {
  height: 100vh;
  background: url(../imagenes/inicio_fondo.jpg);
  background-size: cover;
  background-position: top;
}

#inicio main {
  max-width: unset;
  margin: unset;
}

#inicio .contenido {
  height: 100%;
  width: 43%;
  padding-top: 50px;
  padding-left: 40px;
  background-color: rgba(64, 117, 196);
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.6);
}

#inicio p {
  max-width: 45ch;
}

#inicio .contenido p:last-of-type {
  margin-bottom: 60px;
}

.boton {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: var(--blanco);
  transition: all 0.3s ease;
}

.boton:hover {
  transform: scale(1.05);
  background-color: var(--encima);
}

/* SERVICIOS */
#servicios main {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 40px;
}

#servicios .contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

#servicios .carta {
  display: flex;
  align-items: center;
  padding-right: 30px;
  color: var(--azulSubmarino);
  background-color: var(--blanco);
  border-radius: 0.5em;
  box-shadow: var(--sombra);
  overflow: hidden;
}

#servicios .carta img {
  max-width: 150px;
  margin-right: 30px;
}

#servicios .carta:hover{
  cursor: default;
  transform: scale(1.05);
  transition: all ease;
  transition-duration: .2s;
}

#servicios .con-icono img {
  padding: 20px;
  margin-right: 0;
}

#servicios .icono {
  padding: 20px;
}

/* CONTACTO */
#contacto main {
  max-width: unset;
  margin: unset;
}

#contacto .contenido {
  display: flex;
  align-items: center;
  max-width: 1110px;
  margin: 60px auto;
  padding: 30px 0;
  background-color: var(--blanco);
  border-radius: 0.5em;
  box-shadow: var(--sombra);
}

#contacto .pagina-titulo {
  flex: 1;
  padding: 0 30px;
  text-align: center;
}

#contacto .containerList {
  flex: 1;
  padding: 0 30px;
  border-left: 2px solid var(--azulSubmarino);
}

.containerWithIcon {
  display: flex;
  align-items: center;
  gap: 1em;
}

#contacto .containerWithIcon img {
  width: 2em;
  height: 2em;
}

/* VISION */
#vision main {
  max-width: unset;
  margin: unset;
  display: flex;
}

#vision {
  height: 100vh;
}

#vision .contenido{
  height: 100%;
  width: 50%;
  padding-top: 50px;
  padding-left: 40px;
  background-color: rgba(64, 117, 196);
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.6);
  border-radius: .5em;
}

#vision .grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
}

.uno {
  grid-column: 1;
  grid-row: 1;
}
.dos {
  grid-column: 2;
  grid-row: 1;
}
.tres {
  grid-column: 1;
  grid-row: 2;
}
.cuatro {
  grid-column: 2;
  grid-row: 2;
}

#vision .div-vision{
  display: flex;
  padding: 2em;
  padding-left: 0;
  gap: 1em;
}

#vision .div-vision div {
  display: flex;
  flex-direction: column;
  gap: .5em;
  font-size: 14px;
}

#vision .div-vision p {
  font-style: italic;
}

#vision .div-vision img{
  background-color: #eee;
  padding: .5em;
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
}

#vision .vision-img{
  width: 50%;
  height: 100%;
}

#vision .vision-img img{
  width: 100%;
  height: calc(100dvh - 105px);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

/* NOSOTROS */
#nosotros h3 {
  font-size: 1.8rem;
}

#nosotros .contenido {
  display: flex;
  align-items: center;
  width: 800px;
  padding: 30px;
  margin-bottom: 50px;
  background-color: var(--azulSubmarino);
  border-radius: 0.5em;
  box-shadow: var(--sombra);
}

#nosotros .titulo {
  margin-top: -10px;
  font-size: 1.3rem;
}

#nosotros .info {
  margin: 10px 0;
  opacity: 80%;
}

#nosotros .contenido img {
  width: 210px;
  border-radius: 0.5em;
}

#nosotros .contenido div {
  margin-left: 30px;
}
