/* 
    Orden que estoy siguiendo para las propiedades:
        1. Propiedades de posicionamiento
        2. Propiedades del box model
        3. Propiedades de texto
        4. Propiedades "visuales" (colores, bordes, background, etc)
        5. Otras
*/

@font-face {
  font-family: "Montserrat";
  src: url(/fuentes/Montserrat-VariableFont_wght.ttf);
}

:root {
  --azulSubmarino: #0c4eb9;
  --azulAqua: #00a6e7;
  /* --azulNeutro: #4176c5d3; */
  --azulNeutro: #4075c4;
  --blanco: #f9fbfc;
  --encima: #eee;
  --sombra: 7px 7px 5px rgba(0, 0, 0, 0.2);
  --margen: 1140px;
}

/* Estilos a etiquetas */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--blanco);
  background-color: var(--blanco);
}

a {
  font-weight: 600;
  color: var(--azulSubmarino);
  text-decoration: none;
}

a:hover {
  color: var(--azulAqua);
}

p {
  margin: 16px 0;
}

address {
  font-style: normal;
}

/* ELEMENTOS PROPIOS DE LA PAGINA */
/* Define límites */
.contenedor {
  max-width: var(--margen);
  margin: 0 auto;
}

/* Define la apariencia general del contenido */
.contenido {
  margin: 50px auto;
  padding: 10px 40px;
  color: var(--blanco);
  border-radius: 5px;
  background-color: var(--azulSubmarino);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.boton {
  display: inline-block;
  padding: 0.8em 0.8em;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: var(--blanco);
  transition: all 0.3s ease;
}

.boton:hover {
  transform: scale(1.05);
  background-color: var(--encima);
}

/* Estiliza la cabecera (rectángulo blanco) y la barra de navegacion */
.cabecera {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.barra-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--margen);
  height: 95px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-imagen {
  width: 95px;
  padding: 5px;
}

.logo-texto {
  width: 270px;
  margin-left: 5px;
}

.barra-navegacion ul {
  display: flex;
  list-style: none;
}

.barra-navegacion ul a {
  padding: 25px;
  margin: 0 3px;
  border-bottom: 2px solid rgba(0, 131, 166, 0);
  transition: 0.3s;
}

.barra-navegacion ul a:hover {
  border-bottom: 2px solid var(--azulAqua);
  background-color: var(--encima);
}

.containerList {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

/* MODIFICAN ELEMENTOS GENERALES */
.boton-regreso {
  position: absolute;
  right: 20px;
}

/* Para invertir color desde la clase */
.alternativo {
  color: var(--azulSubmarino);
  background-color: var(--blanco);
}

/* coloca negrita a textos que requieran enfasis */
.enfasis {
  font-weight: 600;
}

/* clase para los titulos de las secciones*/
.pagina-titulo {
  margin: 10px 0;
  font-size: 2.4rem;
}

/* ESTILOS PARTICULARES */
/* INICIO */
#inicio .banner {
  margin: 40px 0;
  padding: 40px 0;
  background-color: var(--azulSubmarino);
}

#inicio .contenedor {
  display: flex;
}

#inicio .texto {
  flex: 1;
  margin-right: 40px;
}

#inicio .banner img {
  width: 50%;
  border-radius: 5px;
}

#inicio .boton {
  margin: 40px 0;
  font-size: 1.4rem;
}

/* SERVICIOS */
#servicios .icono {
  padding: 20px;
}

#servicios .boton {
  font-size: 1rem;
  padding: 0.2em 0.4em;
  margin: 0;
}

#servicios .grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 0;
}

#servicios .carta {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: var(--sombra);
  overflow: hidden;
  cursor: default;
}

#servicios .carta img {
  max-width: 140px;
  margin-right: 30px;
}

#servicios .con-icono img {
  padding: 20px;
  margin-right: 0;
}

/* CONTACTO */
#contacto .contenido {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 0;
  background-color: var(--azulSubmarino);
  box-shadow: var(--sombra);
}

#contacto .correo {
  color: var(--blanco);
}

#contacto .correo:hover {
  color: var(--azulAqua);
}

#contacto .pagina-titulo {
  flex: 1;
  /* padding: 0 30px; */
  text-align: center;
}

#contacto .containerList {
  flex: 1;
  padding-left: 40px;
  border-left: 2px solid var(--blanco);
}

.containerWithIcon {
  display: flex;
  align-items: center;
  gap: 1em;
}

#contacto .containerWithIcon img {
  width: 2em;
  height: 2em;
}

#contacto .boton {
  top: 10px;
}

/* VISION */
#vision .fondo {
  width: 300px;
}

#vision .contenido {
  position: relative;
}

#vision .contenedor-grilla {
  display: flex;
  margin: 60px 0;
}

#vision .grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em 3em;
  height: fit-content;
  margin-right: 80px;
}

#vision .div-vision {
  display: flex;
  gap: 1em;
  font-size: 14px;
}

#vision .div-vision p {
  font-style: italic;
}

#vision .div-vision img {
  background-color: #eee;
  padding: 0.5em;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

/* NOSOTROS */
#nosotros h3 {
  font-size: 1.8rem;
}

#nosotros .contenido {
  position: relative;
}

#nosotros .tarjeta {
  display: flex;
  align-items: center;
  max-width: 800px;
  padding: 30px;
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: var(--sombra);
}

#nosotros .tarjeta img {
  margin-right: 30px;
  width: 210px;
  border-radius: 0.5em;
}

#nosotros .doctora-titulo {
  margin-top: -10px;
  font-size: 1.3rem;
}

#nosotros .doctora-info {
  opacity: 80%;
}


@media (max-width: 1160px) {
  .cabecera {
    font-size: 0.9rem;
  }

  .logo-imagen {
    width: calc(95px * 0.8);
  }

  .logo-texto {
    width: calc(270px * 0.8);
  }

  .barra-navegacion,
  .contenedor {
    max-width: 948px;
  }

  #servicios .grilla {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 988px) {

  .barra-navegacion,
  .contenedor {
    max-width: 740px;
  }

  .pagina-titulo {
    font-size: 2.1rem;
  }

  #contacto .contenido {
    flex-direction: column;
  }

  #contacto .containerList {
    padding-top: 30px;
    border: none;
    border-top: 2px solid var(--blanco);
  }

  #vision .grilla {
    margin: 0;
  }

  #vision .fondo {
    display: none;
  }

  #nosotros h3 {
    font-size: 1.5rem;
  }

  #nosotros span {
    display: block;
    margin-top: -10px;
  }

  #nosotros .doctora-titulo {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.1rem;
  }

  #nosotros .tarjeta {
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
  }

  #nosotros .tarjeta img {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .barra-navegacion,
  .contenedor {
    max-width: 570px;
  }

  .contenedor {
    border-radius: 0;
    padding: 20px;
  }


  .boton:not(.permanente) {
    display: none;
  }

  #inicio .contenedor {
    display: block;
    text-align: center;
  }

  #inicio .texto {
    margin: 0;
  }

  #inicio .contenedor img {
    width: 100%;
  }

  #servicios .grilla,
  #vision .grilla {
    grid-template-columns: 1fr;
  }

  #vision .grilla {
    padding: 0 20px;
  }
}